<!DOCTYPE html>
<html>
    <head>
        <!--I will extend the menu page here
            What show inside the menu.html will show here on the heading
        -->
        {% extends "menu.html" %}
        {% block title %}Paralympic2050 (Athletes){% endblock %}
        
        {% block content %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Paralympic2050</title>
        
        {% load static %} 
        {% block style %}
            <link rel="stylesheet" href="{% static 'css_file/athlete_display_style.css' %}?v=1.0">
            <link rel="icon" type="image/png" href="{% static 'img/login_register_img/IPC_logo.png'%}">
            
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
            <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

            <style>
                .hidden { display: none !important; }
                .athlete-card.selectable:hover { cursor: pointer; border: 2px dashed #00f; }
                .athlete-card.selected { border: 3px solid red; }
            </style>
        {% endblock %}
    </head>

<body>
    <!--Banner displaying-->
    <section>
        <img src="{% static 'img/banner_img/AT_display_title.png' %}" alt="Paralympic Logo" width="100%">
    </section>

    <!--Search and filter method-->
    <div class="search-filter">
        <form method="GET" action="{% url 'Paralympic2050:athletes' %}">
            <div class="search-controls">
                <input type="text" name="keyword" placeholder="Search by name" value="{{ request.GET.keyword|default:'' }}">
                
                <select id="gender-filter" name="gender">
                    <option value="">Every Gender</option>
                    <option value="Women" {% if request.GET.gender == 'Women' %}selected{% endif %}>Women</option>
                    <option value="Men" {% if request.GET.gender == 'Men' %}selected{% endif %}>Men</option>
                </select>

                <button type="submit" class="search">Search</button>
            </div>
        </form> 
        
        <div class="ath-selection">
            <button class="add-ath" name="addAthlete" type = "button">Add Athlete</button>
            <button class="select-ath" name="selectAthlete">Select Athlete</button>   
            <button class="cancel hidden" type="button" name="cancel">Cancel</button>
            <button class="delete-select hidden" type="button" name="delteselect">Delete Selected</button>
        </div>
    </div>

    <div class="athletes-container">
        {% for x in athletes %}
        <div class="athlete-card" data-id="{{ x.id }}">
            <div class="card-front">
            <!--I will set these elements into hiding state-->
            <!-- When hovering it, these elements will show -->
                
                <div class="card-head"> 
                    <div class="athlete-name"> <!--Specifying the gender images-->
                        {{ x.firstName }} {{ x.lastName }}

                        {% if x.gender|lower == "men" %}
                            <img src="{% static 'img/login_register_img/male_genderW.png' %}" alt="men" width="20px">
                        {% elif x.gender|lower == "women" %}
                             <img src="{% static 'img/login_register_img/femenineW.png' %}" alt="women" width="20px">
                        {% endif %}
                    </div>
                </div>

                <!--Hiding image, it will show when hover the card-->
                <div class="hover-images">
                    <!--I will stores the information here-->
                    <img src="{% static 'img/login_register_img/composed.png' %}" 
                         alt="Edit" 
                         class="edit-btn"
                         data-id="{{ x.id }}"
                         data-firstname="{{ x.firstName }}"
                         data-lastname="{{ x.lastName }}"
                         data-gender="{{ x.gender }}"
                         data-age="{{ x.age }}">

                    <img src="{% static 'img/login_register_img/user_bl.png' %}" alt="img2">

                    <!-- Delete form -->
                    <form method="post" style="display:inline;" class="delete-athlete-form">
                        {% csrf_token %}
                        <input type="hidden" name="athlete_id" value="{{ x.id }}">
                        <button type="submit" style="border:none; background:none; padding:0;">
                            <img src="{% static 'img/login_register_img/trashR.png' %}" alt="Delete Athlete">
                        </button>
                    </form>
                </div>
        
                <div class="athlete-info">
                    <p>D.O.B: {{ x.dateOfBirth|date:"d/m/Y" }}</p>
                    <p>Gender: {{ x.gender }}</p>
                    <p>Contacts: {{ x.email }}</p>
                    <p>{{ x.phone|default:"-" }}</p>
                </div>
                <div class="competition-info">
                    <p>Class: {{ x.classification }}</p>
                    <p>Sport: {{ x.sport|default:"-" }}</p>
                    <p>BID: {{ x.bid }}</p>
                    <p>Remark:</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!--
        This is the athlete form. It will display when clicked the 
        add athlete button. After adding the athlete and clicked save and quit
        the athlete data will be saved to the db

        form submitted -> jS -> Django -> postgreSQL
    -->
    <div id = "add-AthModal" class = "modal hidden"> <!--class = "modal hidden"-->
        <div class = "add-ath-cont">
            <h2 class = "add-ath-title">
                <section>
                    <img src="{% static 'img/banner_img/add_title.png' %}" alt="Paralympic Logo" width="700px" height="80px">
                </section>
            </h2>
            <form id = "AddAth-form" method = "POST" action="{% url 'Paralympic2050:athletes' %}">
                {% csrf_token %}

                <div class = "form-group">
                    <label>BID: </label>
                    <input type = "text" name = "bib" required>
                </div>

                <div class = "form-group">
                    <label>Classification: </label>
                    <input type = "text" name ="classification" required>
                </div>

                <div class="form-group">
                    <label>Country: </label>
                    <input type="text" name="country" required>
                </div>

                <div class = "form-group">
                    <label>FirstName: </label>
                    <input type="text" name="first_name" required>
                </div>

                <div class = "form-group">
                    <label>Surname: </label>
                    <input type="text" name="surname" required>
                </div>

                <div class="form-group">
                    <label>Gender: </label>
                    <select name="gender" required>
                        <option value="" disabled selected>Select Gender</option>
                        <option value="Men">Men</option>
                        <option value="Women">Women</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label>Date of Birth: </label>
                    <input type="date" name="date_of_birth" required>
                </div>

                <div class="form-group">
                    <label>Email (Optional): </label>
                    <input type="email" name="email">
                </div>

                <div class="form-btns">
                    <button type="button" id="quitAdd">Quit</button>
                    <div>
                        <button type="submit" id="saveQuitBtn">Save & Quit</button>
                    </div>
                </div>
            </form>
        </div>   
    </div>

        
    <!--
        This is the hidden form which will only show when athletes clicked 
        the edit icon when hovering the athlete card
    -->
    <div id="editFormModal" class="modal hidden">
        <div class="modal-content">
            <form id="athleteEditForm" method="POST" action="{% url 'Paralympic2050:athletes' %}">
                {% csrf_token %}
                <input type="hidden" name="athlete_id" id="athlete_id">

                <label>First Name:</label>
                <input type="text" name="firstName" id="firstName">

                <label>Last Name:</label>
                <input type="text" name="lastName" id="lastName">

                <label>Gender:</label>
                <select name="gender" id="gender">
                    <option value="Men">Men</option>
                    <option value="Women">Women</option>
                </select>
                
                <div class="form-buttons">
                    <button type="button" onclick="closeEditForm()">Back</button>
                    <button type="submit">Submit</button> <!--This will save the data to db-->
                </div>
            </form>
        </div>
    </div>

    <!--JavaScript-->
    <script src="{% static 'js_file/athletes.js' %}"></script>

</body>
{% endblock %}
</html>
