<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Paralympic2050</title>

        {% load static %} 
        {% block style %}
            <link rel="stylesheet" href="{% static 'css_file/athlete_display_style.css' %}?v=1.0">
            <link rel="icon" type="image/png" href="{% static 'img/login_register_img/IPC_logo.png'%}">
            
            <style>
                .hidden { display: none !important; }
                .athlete-card.selectable:hover { cursor: pointer; border: 2px dashed #00f; }
                .athlete-card.selected { border: 3px solid red; }
            </style>
            {% endblock %}
    </head>

<body>
    <header class="head">
        <div class="head-left">
            <div class="logo-div">
                <img src="{% static 'img/login_register_img/IPC_logo2white.png' %}" alt="Paralympic Logo" width="300px">
            </div>

            <nav class="nav-links">
                <a href="#">Home</a>
                <a href="#">Results</a>
                <a href="#">Shop</a>
                <a href="#">About Paralympics</a>
                <a href="#">Book a ticket</a>
                <a href="#">Managements</a>
            </nav> 
        </div>

        <div class="username-div">
            <span class="username-text">
                {% if request.session.logged_in_user %}
                    {{ request.session.logged_in_user }}
                {% else %}
                    Guest
                {% endif %}
            </span>
            <img id="user-img" src="{% static 'img/login_register_img/UserW.png' %}" alt="User" width="90px">

            <!-- The menu -->
            <div id="user-menu" class="user-menu" style="display:none;">
                <ul>
                    {% if request.session.logged_in_user %}
                        <li id="logout-btn">Logout</li>
                        <li id="change-pic-btn">Change Profile Picture</li>
                    {% else %}
                        <li><a id="login-btn" href="{% url 'Paralympic2050:login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>

    <!--Banner displaying-->
    <section>
        <img src="{% static 'img/banner_img/AT_display_title.png' %}" alt="Paralympic Logo" width="1650px">
    </section>

    <!--Search and filter method-->
    <div class="search-filter">
        <form method="GET" action="{% url 'Paralympic2050:athletes' %}">
            <input type="text" name="keyword" placeholder="Search by name" value="{{ request.GET.keyword|default:'' }}">
            
            <select id="gender-filter" name="gender">
                <option value="">Every Gender</option>
                <option value="Women" {% if request.GET.gender == 'Women' %}selected{% endif %}>Women</option>
                <option value="Men" {% if request.GET.gender == 'Men' %}selected{% endif %}>Men</option>
            </select>

            <button type="submit" class="search">Search</button>

            <!--Add and delete athletes-->
            <button class="add-ath" name="addAthlete">Add Athlete</button>
            <button class="select-ath" name="selectAthlete">Select Athlete</button>   
            <button class="cancel hidden" type="button" name="cancel">Cancel</button>
            <button class="delete-select hidden" type="button" name="delteselect">Delete Selected</button>
        
        </form>    
    </div>

    <div class="athletes-container">
        {% for x in athletes %}
        <div class="athlete-card" data-id="{{ x.id }}">
            <div class="card-front">
            <!--I will set these elements into hiding state-->
            <!-- When hovering it, these elements will show -->
                
                <div class="card-head">
                    <div class="athlete-name">
                        {{ x.firstName }} {{ x.lastName }}

                        {% if x.gender|lower == "men" %}
                            <img src="{% static 'img/login_register_img/male_genderW.png' %}" alt="men" width="20px">
                        {% elif x.gender|lower == "women" %}
                             <img src="{% static 'img/login_register_img/femenineW.png' %}" alt="women" width="20px">
                        {% endif %}
                    </div>
                </div>

                <!--Hiding image, it will show when hover the card-->
                <div class="hover-images">
                    <!--I will stores the information here-->
                    <img src="{% static 'img/login_register_img/composed.png' %}" 
                         alt="Edit" 
                         class="edit-btn"
                         data-id="{{ x.id }}"
                         data-firstname="{{ x.firstName }}"
                         data-lastname="{{ x.lastName }}"
                         data-gender="{{ x.gender }}"
                         data-age="{{ x.age }}">

                    <img src="{% static 'img/login_register_img/user_bl.png' %}" alt="img2">

                    <!-- Delete form -->
                    <form method="post" style="display:inline;" class="delete-athlete-form">
                        {% csrf_token %}
                        <input type="hidden" name="athlete_id" value="{{ x.id }}">
                        <button type="submit" style="border:none; background:none; padding:0;">
                            <img src="{% static 'img/login_register_img/trashR.png' %}" alt="Delete Athlete">
                        </button>
                    </form>
                </div>
        
                <div class="athlete-info">
                    <p>D.O.B: {{ x.dateOfBirth|date:"d/m/Y" }}</p>
                    <p>Gender: {{ x.gender }}</p>
                    <p>Contacts: {{ x.email }}</p>
                    <p>{{ x.phone|default:"-" }}</p>
                </div>
                <div class="competition-info">
                    <p>Class: {{ x.classification }}</p>
                    <p>Sport: {{ x.sport|default:"-" }}</p>
                    <p>BID: {{ x.bid }}</p>
                    <p>Remark:</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

        
    <!--
        This is the hidden form which will only show when athletes clicked 
        the edit icon when hovering the athlete card
    -->
    <div id="editFormModal" class="modal hidden">
        <div class="modal-content">
            <form id="athleteEditForm" method="POST" action="{% url 'Paralympic2050:athletes' %}">
                {% csrf_token %}
                <input type="hidden" name="athlete_id" id="athlete_id">

                <label>First Name:</label>
                <input type="text" name="firstName" id="firstName">

                <label>Last Name:</label>
                <input type="text" name="lastName" id="lastName">

                <label>Gender:</label>
                <select name="gender" id="gender">
                    <option value="Men">Men</option>
                    <option value="Women">Women</option>
                </select>
                
                <div class="form-buttons">
                    <button type="button" onclick="closeEditForm()">Back</button>
                    <button type="submit">Submit</button> <!--This will save the data to db-->
                </div>
            </form>
        </div>
    </div>

    <!--JavaScript-->
    <script src="{% static 'js_file/athletes.js' %}"></script>
    <script src="{% static 'js_file/athletes_select.js' %}"></script>

</body>
</html>
