<!DOCTYPE html>
<html>
    <head>
        {% extends "menu.html" %}
        {% block title %}Paralympic2050 (Event manage){% endblock %}

        {% block content %}
        {% load static %}

        {% block css_style %}
            <link rel="stylesheet" href="{% static 'css_file/Event_management.css' %}?v=1.0">
        {% endblock %}
    </head>

<body>
    <!--Banner displaying-->
    <section class = "banner">
        <img src="{% static 'img/banner_img/Event_manage.png' %}" alt="Paralympic Logo" width="100%">
    </section>

    <!--Search section and buttons-->
    <section class="search-add">
        <form method="GET">
            <input 
                type="text" 
                placeholder="Search Event (Number or Sport)" 
                name="q" 
                value="{{ query|default:'' }}">  <!-- Keep search value -->
            <button class="search-btn" type="submit">Search</button>
        </form>

        {% if request.session.logged_in_user == "admin" %}
            <button class="add-event-btn">Add Event</button>
        {% endif %}
    </section>

    <!--
        This part is an event table. The table is consist of 
        information of events which is being saved to the database. 
        The table will not show initially if I didn't add anything to the 
        database...
    -->
        <section class ="event-table">
            <table>
                <thead>
                    <tr>
                        <th>Date/Time</th>
                        <th>No.</th>
                        <th>Gender</th>
                        <th>Sport</th>
                        <th>Classification</th>
                        <th>Phase</th>
                        <th>Status</th>

                        <!-- IF not admin, the user cannot see the action column-->
                        {% if request.session.logged_in_user == "admin" %}
                            <th>Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{ event.date_time|date:"j M Y, g:i A" }}</td>
                        <td>{{ event.number }}</td>
                        <td>{{ event.gender }}</td>
                        <td>{{ event.sport }}</td>
                        <td>{{ event.classification }}</td>
                        <td>{{ event.phrase }}</td>
                        <td>{{ event.status }}</td>

                        <td>
                            {% if request.session.logged_in_user == "admin" %}
                                <button class="view-details">
                                    <img src="{% static 'img/banner_img/group.png' %}" alt="View Details" width="35" height="35">
                                </button>
                            
                            <!-- This will contains the event that I browse-->
                            <button class="edit-event"
                                data-id="{{ event.id }}"
                                data-date="{{ event.date_time|date:'Y-m-d' }}"
                                data-time="{{ event.date_time|date:'H:i' }}"
                                data-number="{{ event.number }}"
                                data-sport="{{ event.sport }}"
                                data-gender="{{ event.gender }}"
                                data-classification="{{ event.classification }}"
                                data-phrase="{{ event.phrase }}"
                                data-status="{{ event.status }}"
                                data-location="{{ event.location }}">

                                <img src="{% static 'img/banner_img/composed.png' %}" alt="Edit Event" width="35" height="35">
                            </button>

                            <form method="POST" action="{% url 'Paralympic2050:event' %}" class="delete-event-form" style="display:inline;">
                                {% csrf_token %}
                                <!--So I create the hidden input which contains the event id-->
                                <!--When delete the event in python django... it will delete from ID-->
                                <input type="hidden" name="event-id" value="{{ event.id }}">
                                <button type="submit" class="delete-event">
                                    <img src="{% static 'img/banner_img/trashR2.png' %}" alt="Delete Event" width="35" height="35">
                                </button>
                            </form>
                            {% endif %}
                        </td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" class="no-data">There is no event available yet</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <!--This is the add event form
            When clicked the button, the form will pop up
        -->
        <div class="popup-overlay hidden" id="popupOverlay">
            <div class="popup-form">
                <h2>Add Event</h2>
                <hr/>
                <form id="addEventForm" class="form-grid" method="POST" action="{% url 'Paralympic2050:event' %}">
                    {% csrf_token %}

                    <input type="hidden" id="event-id" name="event-id">

                    <label for="event-date">Competition Date:</label>
                    <input type="date" id="event-date" name="event-date" required>
                    
                    <label for="event-number">Number:</label>
                    <input type="text" id="event-number" name="event-number" required>

                    <label for="event-time">Time :</label>
                    <input type="time" id="event-time" name="event-time" required>

                    <label for="event-sport">Sport :</label>
                    <input type="text" id="event-sport" name="event-sport" required>

                    <label>Gender :</label>
                    <div class="gender-options-horizontal">
                        <input type="radio" id="male" name="gender" value="Male" required>
                        <label for="male" class="radio-label">Male</label>
                        <input type="radio" id="female" name="gender" value="Female">
                        <label for="female" class="radio-label">Female</label>
                    </div>

                    <label for="event-classification">Classification :</label>
                    <input type="text" id="event-classification" name="event-classification" required>

                    <label for="event-phrase">Phase :</label>
                    <select id="event-phrase" name="event-phrase">
                        <option selected disabled>Select phase</option>
                        <option>Final</option>
                        <option>Semi Final</option>
                        <option>Quarter Final</option>
                    </select>

                    <label for="event-status">Status :</label>
                    <select id="event-status" name="event-status">
                        <option selected disabled>Select status</option>
                        <option>In Progress</option>
                        <option>Concluded</option>
                        <option>Cancelled</option>
                    </select>

                    <label>Location :</label>
                    <div class="location-wrapper">
                        <input type="text" placeholder="Select the location" id="location-input" name="location" readonly required>
                        <div id="map" style="width: 100%; height: 300px; margin-top: 10px;"></div>
                    </div>

                    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
                    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

                    <div class="form-buttons">
                        <button type="button" class="form-btn quit-btn">Quit</button>
                        <div class="save-buttons-group">
                            <button type="submit" class="form-btn save-quit-btn">Save & Quit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    <!--JavaScript file path and endblock content-->
    <script src="{% static 'js_file/Event_management.js' %}"></script>
    
    <!--Load the google map API-->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=initMap" async defer></script>

    {% endblock %}
</body>
</html>