body {
    font-family: Verdana;
    color: white;
    background-color: #6c89ff;
    margin: 0;
    padding: 0;
}

.page-bg img{
    position: fixed;
    border-image-repeat: None;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    image-rendering: auto;
    -webkit-optimize-contrast: true;
    backface-visibility: hidden;
    z-index: -1;
}

.paralympic-logo {
    background-color: transparent;
    margin: 1px auto;
    display: block;
    text-align: center;
    margin-top: 80px; 
}

.register-cont{
     background: rgba(41, 38, 38, 0.9);
     border-radius: 10px;
     width: 40%;
     box-shadow: 0 4px 10px rgba(28, 25, 25, 0.6);
     align-items: center;
     margin: 1px auto; /*I use this for centering the div*/
     padding: 10px;
}

.register-cont h1{
    font-family: "Hammersmith One", sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-emphasis: none;
    text-align: center;
}

.register-cont input {
    width: 60%;
    padding: 15px;
    margin: 4px auto;   
    border-radius: 6px;
    border: none;
    outline: none;
    display: block;    
}

.verify {
    display: flex;
    align-items: center;
    width: 60%;          
    margin: 5px auto;   
    gap: 8px;            
}

.verify input {
    flex: 2;            
    padding: 15px;
    border-radius: 6px;
    border: none;
    outline: none;
    min-width: 0;       
}

.veri-btn {
    padding: 12px 25px; 
    font-size: 18px; 
    background-color: #1b52be;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-family: Tahoma;
    font-weight: bold;
    white-space: nowrap; 
}

.veri-btn:hover{
    background-color: #164093;
}

.submit-ctn {
  display: flex;
  justify-content: center; 
}

.signup-btn {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 18px;
    width: 30%;
    padding: 15px 30px;
    margin-top: 10px;
    background-color: #1b52be;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.signup-btn:hover{
    background-color: #164093;
}

hr {
    width: 100%;
}

.alr-acc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

.alr-acc a{
    color: white;
    font-weight: bold;
}

.alr-acc a:hover{
    color: pink;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    margin: 0px auto;
    align-items: center;
}

.google-btn, .facebook-btn {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 15px;
    padding: 10px;
    width: 50%;
    border: none;
    cursor: pointer;
    color: #000;
    background: #c9c9c9;
    justify-content: center;
    align-items: center;
}

.google-btn:hover, .facebook-btn:hover{
    background: #959595;
}


