<!DOCTYPE html>
<html>
    <head>
        {% extends "menu.html" %}
        {% block title %}Paralympic2050 (Homepage){% endblock %}

        {% block content %}
        {% load static %}

        {% block css_style %}
            <link rel="stylesheet" href="{% static 'css_file/home.css' %}?v=1.0">
        {% endblock %}
    </head>

<body>
    <!--The homepage video-->
    <section class = "video-section">
        <video class="video-play" autoplay loop muted>
            <source src="{% static 'img/videos/Homepage_video.mp4' %}" type="video/mp4">
        </video>
    </section>

    <!--The recent news sections-->
    <section class="recent-news">
        <div class="news-text">
            <p class="upcoming">Upcoming Game :</p>
            <h1 class="event-title">MILANO CORTINA 2026</h1>
            <h2 class="subtitle">Paralympic Winter Games</h2>
            <a href="#" class="ticket-btn">Book a Ticket</a>
        </div>
    </section>

    <!--The news informations and images-->
    <section class = "news-info">
        <h1 class = "about-heading">About the Paralympic Game</h1>
        <div class = "event-container">
            <div class = "event-text">
                <h2>MILANO CORTINA 2026</h2>
                <p>
                    Milano Cortina 2026 is a paralympic winter game which will open
                    on the 6<sup>th</sup> of March 2026 in the Arena di Verona.
                    This game will take place in Italy with more than 600 athletes 
                    competiting in 79 medal events across 6 sports. The 6 sports include
                    Para alpine skiing, Para biathlon, Para cross-country skiing, Para ice hockey, 
                    Para snowboard, and wheelchair curling. <br/><br/>

                    For more information, please visit:<br/>
                    <a class = "more-info-link" href = "https://www.paralympic.org/milano-cortina-2026/mascot">"https://www.paralympic.org/milano-cortina-2026/mascot"</a>
                </p>
                <a href = "https://www.paralympic.org/milano-cortina-2026/mascot" class ="read-more">Read More</a> 
            </div>
            <div class = "event-image">
                <img src="{% static 'img/banner_img/Milano_cortina.png' %}" alt="Milano Cortina 2026">
            </div>
        </div>
    </section>

    <!--The footer part of HTML page-->
    <footer class = "footer">
        <div class = "footer-container">

            <div class = "footer-column">
                <h3>Results</h3>
                <ul>
                    <li>
                        <a href = "#">Medal Table</a>
                    </li>
                    <li>
                        <a href = "#">Competition Results</a>
                    </li>
                </ul>
            </div>

            <div class = "footer-column">
                <h3>Shop</h3>
                <ul>
                    <li>
                        <a href = "#">Merchandise</a> 
                    </li>
                    <li>
                        <a href = "#">Team Gear</a>
                    </li>
                    <li>
                        <a href = "#">Attire Collections</a>
                    </li>
                </ul>
            </div>

            <div class = "footer-column">
                <h3>About Paralympic</h3>
                <ul>
                    <li>
                        <a href = "#">History</a>
                    </li>
                    <li>
                        <a href = "#">Paralympic Games</a>
                    </li>
                    <li>
                        <a href = "#">Sports</a>
                    </li>
                    <li>
                        <a href = "#">About Paralympic</a>
                    </li>
                    <li>
                        <a href = "#">About IPC</a>
                    </li>
                    <li>
                        <a href = "#">FAQs</a>
                    </li>
                </ul>
            </div>
            
            <div class = "footer-column">
                <h3>Book a Ticket</h3>
                <ul>
                    <li>
                        <a href = "#">Milano Cortina 2026</a>
                    </li>
                    <li>
                        <a href = "#">LA 2028</a>
                    </li>
                    <li>
                        <a href = "#">French Alps</a>
                    </li>
                    <li>
                        <a href = "#">Brisbane 2032</a>
                    </li>
                    <li>
                        <a href = "#">Salt Lake City 2034</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>


    <script src="{% static 'js_file/home.js' %}"></script>
    {% endblock %}
</body>
</html>
